<style>
    body{
      background-image: url("https://images.unsplash.com/photo-1629196911514-cfd8d628ba26?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 100%;

    }

    .shadow{
      box-shadow: 3px 3px 3px 3px #555555
    }

    #headmain{
        height: 220px;
    }

    #logo{
        height: 150px;
        /* border: 1px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        
       
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ctg{
        height: 180px;
        /* border: 1px solid red; */
    }
    .evencenter{
        justify-content: space-evenly;
    }

    a{text-decoration:none; font-size: 18px;}
    *{margin: 0;}


    .header-icon{
      opacity: 1;
      transition: all 0.25s ease-in;
    }

    .header-icon:hover{
      opacity: 0.5;
    }


nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
  margin: 0px 40px;

}

#main-menu > li > a {
  font-size: 30px;
  color: rgb(57, 56, 68);
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  text-shadow: 1px 1px 1px rgba(18, 14, 87, 0.5);

}


#sub-menu {
  position: absolute;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in;
  background: #ffffff69;
  border-radius: 5px;
}

#sub-menu > li {
  padding: 16px 28px;

}

#sub-menu > li >  a {
  color: rgb(17, 4, 88);
  text-decoration: none;
  font-size: 25px;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}



#sub-menu > li >  a:hover {
text-decoration: underline;
}

    #main-menu {
  text-align: center;
}

#main-menu li {
  display: inline-block;
}

#main-menu a {
  display: inline-block; 
  opacity: 1;
  transition: all 0.35s ease-in;
}

#main-menu a:hover{
  opacity: 0.5;

}
#main-menu{
    border-bottom: 1px solid black;
    z-index: 3;
}

</style>