
<style>

.imagehidden{
    overflow: hidden;
    border-radius: 10px;
	}
body{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url(https://images.unsplash.com/photo-1629196911514-cfd8d628ba26?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	}
 .child{
    block-size: 50%;
    /* border: 1px solid black; */
box-sizing: border-box;
    
	}
.center3{
width: 33%;
float: left;
box-sizing: border-box;
/* border: 1px solid black; */
flex: 1;
margin: 7px;
margin-bottom: 0px;

	}
.left3{
    width: 33%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    display: inline-block;
    margin: 7px;
    margin-bottom: 0px;

	}
.right3{
    width: 33%;
    float: right;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    margin: 7px;
    margin-bottom: 0px;
	}
.menu6{
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 1200px;
    height: 400px;
    display: flex;
    margin:0 auto;
    margin-top: 20px;
    
	}
.center2{
    width: 33%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    margin: 7px;
	}
.left2{
    width: 33%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    display: inline-block;
    margin: 7px;

	}
.right2{
    width: 33%;
    float: right;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    margin: 7px;
	}
.menu5{
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 1200px;
    height: 500px;
    display: flex;
    margin:0 auto;
    margin-top: 20px;
    
	}
.left-child{
    block-size: 50%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    
	}
.center{
    width: 33%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 2;
	}
.left{
    width: 33%;
    float: left;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    display: inline-block;

	}
.right{
    width: 33%;
    float: right;
    box-sizing: border-box;
    /* border: 1px solid black; */
    flex: 1;
    margin-left: 10px;
	}
.menu4{
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 1200px;
    height: 450px;
    display: flex;
    margin:0 auto;
    margin-top: 20px;
    border-radius: 30px;
    
	}
.menu3>a{
    text-decoration-line: none;
	}
.menu3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
	}
.menu2{
    /* border: 1px solid black; */
    border-bottom: 8px black solid;
    box-shadow : 0px 0px 0px 0px grey;
    border-style: double;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
	}
.menu2-1{
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    /*margin-left: 670px;*/
    margin-top: 20px;
    
    
    /* border-bottom: 3px solid black; */
	}
.menu1{
    display: flex;
    justify-content: center;
    
	}
.menu1>img{
    margin-top: 100px;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    z-index: 1;
    position: relative;
	}
.menu1 .lettering{
    z-index: 2;
    /* margin-right: 50px; */
    position: absolute;
    width: 800px;
    opacity: 0.9;
	}
</style>